<div class="grid grid-cols-6 gap-2">
    <div class="col-span-4 m-4 border-2 rounded-md p-2">
        <table class="w-full">
            <tr class=" border-b font-bold">
                <td>Id</td>
                <td>User Id</td>
                <td>Product Id</td>
                <td>Quantity</td>
                <td>Address</td>
                <td>Status</td>
                <td>Created At</td>
                <td>Delivered At</td>
            </tr>
            <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>{{order.user_id}}</td>
                <td>{{order.product_id}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.address_id}}</td>
                <td>{{order.status}}</td>
                <td>{{order.created_at | date}}</td>
                <td>{{order.delivered_at | date}}</td>
            </tr>
        </table>
    </div>
    <div class=" col-span-2">

    </div>
</div>

