<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap"><img alt="ecommerce"
                class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest"> {{products.brand}}

                </h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"> {{products.name}}

                </h1>
                <p class="leading-relaxed"> {{products.description}}

                </p>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                    <div class="flex"><span class="mr-3">Color: {{products.color}}

                        </span></div>
                    <div class="flex ml-6 items-center"><span class="mr-3">Size</span>
                        <div class="relative"><select
                                class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
                                <option > {{products.size}} </option>
                            </select></div>
                    </div>
                </div>
                <div class="flex"><span class="title-font font-medium text-2xl text-gray-900">₹ {{products.price}}

                    </span>
                </div>
            </div>
        </div>
    </div>
    </section>

    hiii