<div class="mx-5 overflow-auto">
    <table class="table-auto w-full text-left whitespace-no-wrap">
      <thead>
        <tr>
          <th *ngFor="let title of titles" class="px-2 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-bl">{{title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" class="hover:bg-slate-100" [routerLink]="['product/', product.id]">
          <td class="px-2 py-3">{{product.brand}}</td>
          <td class="px-2 py-3">{{product.name}}</td>
          <td class="px-2 py-3">{{product.description}}</td>
          <td class="px-2 py-3">{{product.price | currency}}</td>
          <td class="px-2 py-3">{{product.category}}</td>
          <td class="px-2 py-3">{{product.size}}</td>
          <td class="px-2 py-3">{{product.color}}</td>
          <td class="px-2 py-3">{{product.quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>