<div class="grid grid-cols-6 gap-2">
    <div class="col-span-4 m-4 border-2 rounded-md p-2">
        <table class="w-full">
            <tr class=" border-b font-bold">
                <td>Id</td>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Category</td>
                <td>Size</td>
            </tr>
            <tr>
                <td>{{product?.id}}</td>
                <td>{{product?.name}}</td>
                <td>{{product?.description}}</td>
                <td>{{product?.price}}</td>
                <td>{{product?.category}}</td>
                <td>{{product?.size}}</td>
            </tr>
        </table>
    </div>
    <div class=" col-span-2">

    </div>
</div>

